parameters:
    database_host:
    database_port:
    database_name:
    database_user:
    database_password:
    secret:
    locale:
    oauth_client_id:
    oauth_client_secret:
    rabbit_mq_host:
    rabbit_mq_port:
    rabbit_mq_uname:
    rabbit_mq_pass:
