# This file is used during composer install to generate parameters.yml
# Either set environment variables using the format SYMFONY__ENV__<name-in-ucase> or create your parameters.yml file
# Note: parameters not defined here are removed during composer install
parameters:
    database_host: %env.database_host%
    database_port: %env.database_port%
    database_name: %env.database_name%
    database_user: %env.database_user%
    database_password: %env.database_password%
    secret: %env.secret%
    locale: %env.locale%
    oauth_client_id: %env.oauth_client_id%
    oauth_client_secret: %env.oauth_client_secret%
    rabbit_mq_host: %env.rabbit_mq_host%
    rabbit_mq_port: %env.rabbit_mq_port%
    rabbit_mq_uname: %env.rabbit_mq_uname%
    rabbit_mq_pass: %env.rabbit_mq_pass%
